
div.calc__entrybox
	div.calc__entry
		span.calc__result 0

div.calc__btns

	div.calc__reset
		button(data-btn-type='reset' value='ac') AC
		button(data-btn-type='reset' value='ce') CE

	button(data-btn-type='num' value='7') 7
	button(data-btn-type='num' value='8') 8
	button(data-btn-type='num' value='9') 9
	button(data-btn-type='op' value='/') &divide;

	button(data-btn-type='num' value='4') 4
	button(data-btn-type='num' value='5') 5
	button(data-btn-type='num' value='6') 6
	button(data-btn-type='op' value='*') x

	button(data-btn-type='num' value='1') 1
	button(data-btn-type='num' value='2') 2
	button(data-btn-type='num' value='3') 3
	button(data-btn-type='minus' value='-') -

	button(data-btn-type='dot' value='.') .
	button(data-btn-type='num' value='0') 0
	button(data-btn-type='equal' value='=') =
	button(data-btn-type='op' value='+') +

